* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    font-size: 40px;
    font-weight: bold;
    color: aliceblue;
    background-color: rgb(96, 78, 55);
}

.layout {
    display: flex;
    justify-content: space-between;
}

.input {
    display: flex;
    float: left;
    width: 33.33%;
    max-width: 500px;
    height: 75%;
    min-height: 500px;
    margin: 10px;
    justify-content: space-between;
    border: 1px solid rgb(96, 78, 55);
    background-color: rgb(187, 177, 163);
}

.input ul {
    float: left;
    margin: 10px;
}

.input input {
    display: grid;
    padding: 8px;
    margin: 20px;
}

.input label {
    display: grid;
    margin-top: 10px;
    font-size: 20px;
}

.input button {
    display: grid;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 5px;
    justify-content: center;
    background-color: rgb(96, 78, 55);
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button :hover {
    background-color: white;
}

.data {
    display: flex;
    float: left;
    width: 33.33%;
    max-width: 500px;
    height: 75%;
    min-height: 500px;
    margin: 10px;
    justify-content: space-between;
    border: 1px solid rgb(96, 78, 55);
    background-color: rgb(187, 177, 163);
}

.data ul {
    float: left;
    margin: 10px;
}

.data label {
    display: grid;
    margin-top: 10px;
    font-size: 20px;
}


.result {
    float: left;
    display: grid;
    justify-content: flex-start;
    width: 33.33%;
    max-width: 500px;
    height: 75%;
    min-height: 500px;
    max-height: fit-content;
    margin: 10px;
    justify-content: space-between;
    border: 1px solid rgb(96, 78, 55);
    background-color: rgb(187, 177, 163);
}

.result ul {
    display: grid;
    float: left;
    margin: 10px;


}

.result label {
    display: grid;
    height: 10px;
    margin-top: 20px;
    margin: 10px;
    font-size: 20px;
}

